@using StockApp.Models.Entites.Concrete;

@model Category

<div class="container" style="display:flex;justify-content:center;align-content:center;align-items:center;"> <h1 class="h1"> Ürün Ekle </h1> </div>
<div class="formBody" style="border:outset; padding:2%;">

    <form action="@Url.ActionLink("Add","Category")" method="post" style="padding:5%;">

        <div class="form-group row col-lg-12">

            <label class="col-sm-2 col-form-label"> Ürün Id </label>
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", @placeholder = "Kategori Adı", @style = "text-align:center;" })

        </div>

        <button class="btn btn-primary btn-lg" type="submit" style="display:flex;justify-content:center;align-content:center;align-items:center;"> Ürün Ekle  </button>

    </form>

</div>
